@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
html, body {
  background-color: red;
  display: inline;
  align-items: center;
  justify-content: center;
}
div {
  position: relative;
}
#quote-box {
  padding: 50px 70px;
  position: relative;
  background-color: #fff;
  width: 600px;
  left: 35%;
  top: 100px;
  border-radius: 2%;
}
.quote-text {
  color: red;
  text-align: center;
  font-size: 30px;
  clear: both;
  font-weight: 500;
}
i {
  font-size:1.0em;
  margin-right: 2px;
  left: 100px;
}
.quote-author {
  font-size: 17px;
  text-align: right;
  color: red;
  top: 10px;
}
.nav-icon {
  top: 50px;
  font-size: 40px;
}
.icon {
  color: red;
}
.new-quote {
  display: inline;
  left: 350px;
}
#new-quote {
  outline: none;
  border: none;
  color: #fff;
  border-radius:3px;
  background-color: red;
  padding: 10px 20px 10px 20px;
}
.footer {
  text-align: center;
  top: 110px;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  text-decoration: none;
  color: #fff;
}
